<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oaec.dao.TypeMapper">

    <!-- 房屋类型 house_type -->

    <!--1. 查询条数   where username like concat(concat('%',#{value}),'%')-->
    <select id="findTypeCount" parameterType="map"
            resultType="int">
        select count(type_id)
        from house_type
        <where>
            <if test="type_name!=null and type_name!=''">
                and type_name like concat(concat('%',#{type_name}),'%')
            </if>
            and inuse=0
        </where>
    </select>

    <!--2.查询数据-->
    <select id="findAllType" parameterType="map"
            resultType="map">
        select type_id as id,type_name as text
        from house_type
        <where>
            <if test="type_name!=null and type_name!=''">
                and type_name like concat(concat('%',#{type_name}),'%')
            </if>
            and inuse=0
        </where>
        limit #{startIndex},#{pageSize}
    </select>

    <!--3.添加-->
    <insert id="addType" parameterType="map">
        insert into house_type (type_name)
        values(#{type_name})
    </insert>

    <!--4. 修改 -->
    <update id="updateType" parameterType="map">
        update house_type set
        type_name=#{type_name}
        where type_id = #{type_id}
    </update>

    <!-- 5.假删员工-->
    <update id="deleteType" parameterType="int">
        update house_type
        set inuse = 1
        where type_id = #{type_id}
    </update>

</mapper>